.services{
    display: flex;
    flex-direction: column;
    box-shadow: o 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--tertiary-950);
    border-radius: 4px;
    margin: 40px auto 0 auto;
}


@media (width > 768px) {
    


    .services{  
    width: 80vw;
    }
    
   
       .services-form__container {
        margin: 0 auto;
        width: 80vw;
    }
   
   

}

    .services__contact-title,
    .services__title { 
    text-align: center;
    }


.contact-form {
background-color: var(--gray-500);
margin: 0 24px;
border-radius: 4px;
color: var(--white);
}

.contact-form__title {
text-align: center;
color: var(--tertiary-700);
padding-top: 24px;
}

.contact-form__form {
    display: grid;
    gap: 24px;
    margin: 24px;
    padding-bottom: 24px;
}

.contact-form__row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24;
}

@media (width > 768px) {
    .contact-form__row {
        display: grid;
        grid-auto-flow: column;
        gap:0 24px;
    }
}

.contact-form__label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: var(--fs-xxxs);
}
.contact-form__input {
    height: 48px;
    border-radius: 4px;
    padding: 16px;
    font-size: var(--fs-xs);
}

.contact-form__text-area {
    min-height: 100px;
    resize: vertical; 
}

.contact-form__actions {
display: flex;
flex-direction: column;
gap: 24px;
}

@media (width > 768px) {
    .contact-form__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.contact-form__button {
    padding: 12px 24px;
    border-radius:4px;
    border: none; 
    font-size: var(--fs-xs);
}

.contact-form__button:hover {
    cursor: pointer;
    background-color: var(--tertiary-300);
}

.contact-form__button--red {
    background-color: var(--primary-700);
    color: var(--white);
}

.footer {
    text-align: center;
    font-size: var(--fs-xxxs);
}